<style>
  .box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
  }
</style>
<div class="box"></div>
<script>
  function animation({timing, draw, duration}) {
  
    var start = performance.now();

    function animate(time) {
      // timeFraction goes from 0 to 1
      var timeFraction = (time - start) / duration;
      if (timeFraction > 1) timeFraction = 1;
  
      // calculate the current animation state
      // var progress = timing(timeFraction)
      var progress = timeFraction;
  
      draw(progress); // draw it
  
      if (timeFraction < 1) {
        requestAnimationFrame(animate);
      }
    }

    requestAnimationFrame(animate);
  }

  elem = document.getElementsByClassName("box")[0];

  animation({
    duration: 1000,
    timing(timeFraction) {
      return timeFraction;
    },
    draw(progress) {
      elem.style.left = progress * 100 + 'px';
      // var translateX = 'translateX(' + progress * 100  + 'px)';
      // console.log(translateX);
      // elem.style.transform = translateX;

    }
  });

</script>