<h1>Hello <span id="name"></span></h1>

<script>
	// var yourName = prompt();
	var myName = document.getElementById('name');
	// myName.innerText = yourName;
	// myName.innerHTML = yourName;
</script>



<div id="div1">
	<h1 id="heading">My name is <span id="my_name"></span></h1>
<p id="p1">This is a paragraph.</p>
<p id="p2">This is another paragraph.</p>
<input type="text" id="input_field">
</div>

<script>
var para = document.createElement("p");
var node = document.createTextNode("This is new.");
para.appendChild(node);



var element = document.getElementById("div1");
var child = document.getElementById("p1");
element.insertBefore(para, child);


// element.appendChild(para, child);
// element.replaceChild(para, child);
// element.removeChild(child);
// 
// 
// 
// document.body.childNodes  
// nodeType != 3
// 
// 
// 
</script>