body {
  background-color: chocolate;
}

.button {
  background-color: black;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 600px) and (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
}

body {
  background-color: red;
}

@media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: black;
  }
}

/*# sourceMappingURL=style.css.map */
