body 
	background-color: chocolate


@mixin button( $button-name )
	.#{$button-name }
		background-color: black
		@content

@include button('button')
	font-size: 2rem

@mixin screen-md() 
	@media (min-width: 600px ) and (max-width: 768px )
		@content


h1 
	font-size: 2rem

	@include screen-md
		font-size: 1rem

body 
	background-color: red

	@include screen-md 
		background-color: black

